body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    background-color: #F8F8F8;

    .banner {
    	background-color: #f02b2b;
    	padding: 15px 0;
    	position: fixed;
    	top: 0;
    	left: 0;
    	right: 0;

    	a {
      	    text-decoration: none;
      	    color: white;

      	    &.navbar-brand {
        	height: 30px;
        	margin-left: 15px;
        	margin-bottom: 15px;
        	font-size: 1.25em;
        	font-weight: bold;
      	    }
    	}
    }
}

#app {
    margin-top: 57px;
}

.pokemons {
    //width: 70%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pokemon-container {
    //width: 33.3333333333%;
    width: 100%;
    max-width: 360px;
    padding: 0 12px;
    box-sizing: border-box;
    color: black;
    text-decoration: none;
	
    .pokemon {
	//border: 4px solid rgb(245, 245, 245);
	//height: 180px;
	display: flex;
	margin: 15px 0;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
	background-color: white;
	max-height: 161.67px;
	border-radius: 4px;
	    
	.pokemon-image {
	    max-width: 50%;

	    img {
	    	max-width: 100%;
		width: auto;    
            }
	}

	.pokemon-info {
	    padding: 24px;
	    width: 50%;
	    text-align: center;
		
	    p:first-child {
		margin-top: 0;
	    }
	}
    }
}